# âš¡ Power BI Assignment: Electric Vehicle Dashboard

---

# Electric Vehicle Data Analysis

This notebook performs basic exploratory data analysis (EDA) on electric vehicle sales data in India.
The analysis supports insights presented in the Power BI dashboard.

## Import Libraries

In [1]:
import pandas as pd

## Load Datasets

In [15]:
state_df = pd.read_csv('electric_vehicle_sales_by_state.csv')
maker_df = pd.read_csv('electric_vehicle_sales_by_makers.csv')

## Data Preview

state_df.head()

,date,state,vehicle_category,electric_vehicles_sold,total_vehicles_sold
0,01-Apr-21,Sikkim,2-Wheelers,0,398
1,01-Apr-21,Sikkim,4-Wheelers,0,361
2,01-May-21,Sikkim,2-Wheelers,0,113
3,01-May-21,Sikkim,4-Wheelers,0,98
4,01-Jun-21,Sikkim,2-Wheelers,0,229

## Key Observations

- The dataset contains state-wise and maker-wise electric vehicle sales data.
- Two-wheelers dominate EV sales in India.
- States such as Maharashtra, Karnataka, and Tamil Nadu show higher EV adoption.
- EV penetration is currently low, indicating strong future growth potential.

## Conclusion

This Python analysis provides foundational insights that are visualized in the Power BI dashboard.